#nameOutput{
  text-transform: capitalize;
  padding-top: 5px;
}

#profilePic, #logoutPic, #profileEditPic{
  border: solid 2px black;
  border-radius: 15px;
  width: 100%;
}

#logoutButton, #profileEditPicButton{
  width: 40px;
  height: 40px;
  bottom: 0;
  border: none;
  background-color: transparent;
}




#imageContainer{

  background-color: #dddddd;
  position: relative;
  left: 0;
  top:0;
}
