

div{
  background-color: transparent;
}
ul{
  list-style: none;
  text-align: left;
  padding-inline-start: 5px;
}

.BigThumbnail{
  width: 30px;
  height: 30px;
}

.SmallThumbnail{
  width: 20px;
  height: 20px;
}


.SidebarHeader{
  text-align: left;
  margin-left: 0;
  background-color: transparent;
  border: none;
  text-transform: capitalize;
  width: 100%;
}

.transparent-button{
  border: none;
  background-color: transparent;
  padding-left: 0;
}


.card{
  border:none;
}

.card-body{
  margin: 0;
  padding: 0;
}
