.custom-file{
  margin-top: 15px;
}

.button-container{
  height: auto;
  width: auto;
  position: relative;
  padding: 15px;
}


#editUserContainer{
  z-index: 1;
  text-align: left;
  padding-top: 20px;
  margin: 20px;
  width: 200%;
  position: relative;
  background-color: #dddddd;
  border-radius: 15px;
  border: solid 2px black;
}

