.nameOutput{
  text-transform: capitalize;
}

#imageContainer{
  background-color: #dddddd;
}

#sidebar{
  height: 100vh;
  background-color: #dddddd;
  float: left;
  text-align: center;
}

#profilePic{
  width: 70%;
  margin-top:  15px;
}

