<div class="SidebarHeader">
  <button (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="projectCollapse" type="button" class="collapsible transparent-button">


  <div><h5>
      <img class="BigThumbnail" src="assets/images/toolbox.png">
      Værktøjskasse </h5></div>

  </button>
</div>
  <div class="collapsableMenu" id="projectCollapse" [ngbCollapse]="isCollapsed">
    <div class="card">
      <div class="card-body">
        <ul>
          <li ><app-tool-container></app-tool-container></li>
        </ul>
      </div>
    </div>
  </div>
